
body{
    background-image: url(./images/image.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.blink{
    animation: blinker 1s linear infinte;
}

@keyframes blinker {
    50%{
        opacity: 0;
    }
}