
#wel{
    background-image: url(./images/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.blink{
    animation: blinker 1s linear infinte;
}

@keyframes blinker {
    50%{
        opacity: 0;
    }
}

.error{
   background-image: url(./images/error.png);
   background-repeat: no-repeat;
   background-size: cover;
    font-size: 40px;
    text-align: center;
    width:100%;
    height: 600px;
}